*{
  padding:0;
  margin: 0;

}
body{
  padding: 0;
  background-color: rgb(240,255,255);
}

#logo{
  background-color: black;
  color: white;
  font-size:200%;
  height:8%;
  width:100%;
}
#NAV{
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(255, 191, 0);
  width: 100%;
  box-shadow: 5px;
  font-size: 100%;
  border-radius: 3px;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0;
  height: 3%;
}
.NavItem {
  text-decoration: none;
  color:black;
}

.banner{
  box-shadow:3px 5px 3px;
  width:97%;
  margin-inline: 2%;
  border-radius: 2.3%;
  
}

#AboutUs{
    
    border-radius: 8px;
    background-color: white;
    padding: 2%;
    box-shadow: 5px 5px 5px;
    font-size: 150%;
    
}
.eve_work{
    display: flex;
}
.eve{
    width: 45%;
    background-color: white;
    padding: 2%;
    box-shadow: 5px 5px 5px;
    border-radius: 8px;
    font-size: 150%;
    margin:1%;
    margin-top: 2%;
    transition: transform 0.3s ease;
    
}
footer{
  position:relative;
  left: 0;
  bottom: 0;
  width:100%;
  background-color: rgb(2, 2, 54);
  padding: 5%;
}

#clubAdd{
  color:antiquewhite;
}


.clkable{
width:3%;

}

#contact{
  color:antiquewhite;
}
#social{
  text-decoration: none;
  color:rgb(105, 102, 100);
}

.AddDetail{
color:rgb(105, 102, 100);
}


#projects {
  padding: 50px 20px;
  background-color: #f4f4f4;
  text-align: center;
}

#projects h2 {
  font-size: 36px;
  color: #333;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.project-card  {
  background: #fff;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
}

.project-card:hover,.eve:hover{
  transform: scale(1.05);
}

.project-card img {
  max-width: 100%;
  height: auto;
}

.project-card h3 {
  margin: 15px 0;
  font-size: 24px;
  color: #333;
}

.project-card p {
  font-size: 16px;
  color: #777;
}

.project-card, .tags {
  font-size: 14px;
  color: #888;
  margin-bottom: 10px;
  display: block;
}

.btn {
  background-color: #ff6347;
  color: #fff;
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #ff4500;
}


#photo-gallery {
  padding: 50px 20px;
  background-color: #f4f4f4;
  text-align: center;
}

#photo-gallery h2 {
  font-size: 36px;
  color: #333;
  margin-bottom: 30px;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 15px;
}

.gallery-item {
  overflow: hidden;
}

.gallery-item img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
  object-fit: cover;
}

.gallery-item:hover img {
  transform: scale(1.1);
}

